@media screen and (max-width:576px){
  .container-70{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  header ul{
    display: none;
  }
}

@media screen and (min-width:577px){
    .hamburger{
        display: none;
    }
}

